.menuItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.menuItemHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.menuItemBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.five-pix-pad {
    padding: 5px;
}
.menuItemDescription {
    font-size: smaller;
}
.addRemoveButtonsContainer {
    display: flex;
    flex-direction: row;
}
.removeButton {
    background-color: rgb(255, 226, 226);
    width: 50px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addButton {
    background-color: rgb(205, 255, 205);
    width: 50px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}